#appendhere {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 80%;
    margin-left: 10%;
}

#sold {
    color: red
}

#artimage {
    width: 45vw;
    height: 40vh;
    object-fit: fill;
}

#bottom {
    margin-left: 1rem;
    width: 100%;
}

#div1 {
    /* border: 0.01px solid rgb(125, 125, 141); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-sizing: border-box;
    padding: 3px;
    width: 24vw;
    text-align: center;
}

#price {
    font-weight: bold;

}

#sprice {
    color: rgb(100, 96, 96)
}

#spn {
    font-size: 0.8rem;
    font-family: "Market Sans", Arial, sans-serif;
}

#name {
    height: 2rem;
    font-size: 1rem;
}

#pmitemImages {
    
    object-fit: fill;
    display: flex;
    overflow-x: scroll;
    gap: 30px;
}

#pmitemImages>.mitemImages {
    border: gray solid 1px;
}

#div1>#artimage {
    max-width: 300px;
}

.imgit{
    width: 20vw;
    height: 20vh;
    object-fit: fill;
}

