body {
    background-color: #1c1c1c;
    color: #e6e6e6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 600px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #e6e6e6;
}

header input[type="text"]::placeholder {
    color: #999;
}

.pedidos-recientes {
    margin: 20px 0;
}

.pedidos-recientes h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.pedidos-recientes .pedidos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    padding: 10px 0;
}

.pedidos-recientes .pedidos img {
    max-width: 100px;
    margin: 0 10px;
    border-radius: 5px;
}

.pedidos-recientes .pedidos a {
    color: #1e90ff;
    text-decoration: none;
}


.seccion-ayuda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.seccion-ayuda div {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.seccion-ayuda h3 {
    margin: 0 0 10px;
}

.seccion-ayuda a {
    color: #1e90ff;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.2em;
}

.explorar-articulos {
    margin-bottom: 20px;
}

.explorar-articulos h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.explorar-articulos div div {
    flex: 1 1 calc(33% - 20px);
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.seccion-ayuda, .explorar-articulos, .seccion-contacto {
    margin-bottom: 20px;
}

.seccion-ayuda h3, .explorar-articulos h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.seccion-ayuda a, .explorar-articulos a, .seccion-contacto a {
    color: #0073e6;
    text-decoration: none;
}

.seccion-ayuda a:hover, .explorar-articulos a:hover, .seccion-contacto a:hover {
    text-decoration: underline;
}


.seccion-contacto {
    text-align: center;
    margin: 20px 0;
}

.seccion-contacto h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.seccion-contacto a {
    display: block;
    color: #1e90ff;
    text-decoration: none;
    margin-bottom: 10px;
}

.seccion-contacto div a {
    display: inline-block;
    margin: 0 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #161515;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}